<div class="container">
  <h2>New in Smart Phones  </h2>
  <div class="more-products">
    <app-product>
      <h4 class="title">New in Iphone.</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung.</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
      <h4 class="title">New in MI.</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Xiaomi.</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
  </div>
</div>