<h1 setBackground>This is App Component.</h1>
<!-- the below div is a host element -->
<div class="container" setBackground appHover>
  <p>This is a HTML content to understand custom attribute directive in Angular.</p>
</div>
<!-- the below div is a host element -->
<div appHighlight appHover>
  <p>This is a HTML content to understand custom attribute directive in Angular.</p>
</div>

<div class="container" appBetterhighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
  <p>This is a HTML content to understand @HostBinding directive in Angular.</p>
</div>

<!-- the below div will work like [ngClass] 
     [ngClass] = "class1 : condition" 
     if condition is true then the css properties from the class1
     will be applied on the div element, if not then nothing will happen
     So basically we create a custom [ngClass]
-->

<!--also this line of code:  
    <div [appClass]="{container: true, 'change-font': true}">
    could be also write like this, if we are giving up the @Input alias in class.directive.ts
    <div appClass [display]="{container: true, 'change-font': true}"> -->

<div [appClass]="{container: true, 'change-font': true}">
  <p>This is a demo HTML content to understand how to create custom ngClass directive in Angular.</p>
</div>

<!-- custom [ngStyle] directive -->
<div class="container" [appStyle]="{backgroundColor: active ? 'pink' : 'red', color: 'white', fontWeight: 'bold'}">
  <p>This is a demo HTML content to understand how to create a custom ngStyke directive in Angular.</p>
</div>

<!-- how structural directive works -->
<button class="btn btn-notice" (click)="displayNotice()">Show notice</button>
<div class="info-container notice" *appIf="display">
    <h3>This is a important notice. ABOVE CODE</h3>
    <p>This is a notice issued for all website users.</p>
</div>

<!-- <ng-template #myVar>
  <p>Paragraph to show when condition in if is false. ABOVE CODE</p>
</ng-template> -->

<!-- the above code will work in the same way as the below one,
     that's what angular is doing behind, to make *ngIf structural directive -->

<!-- <ng-template [appIf]="display">
  <div class="info-container notice">
    <h3>This is a important notice. BELOW CODE</h3>
    <p>This is a notice issued for all website users.</p>
</div>
</ng-template> -->

<!-- <ng-template #myVar>
  <p>Paragraph to show when condition in if is false. BELOW CODE</p>
</ng-template> -->


<!-- [ngSwitch] works like in other programming languages -->
<div class="container" [ngSwitch]="occupation">
    <p *ngSwitchCase="'teacher'">This paragraph will pe displayed when occupation is teacher.</p>
    <p *ngSwitchCase="'designer'">This paragraph will pe displayed when occupation is designer.</p>
    <p *ngSwitchCase="'lawyer'">This paragraph will pe displayed when occupation is lawyer.</p>
    <p *ngSwitchDefault>This paragraph is default.</p>
</div>