<div class="main-container">
    <div class="nav-container">
        <ul>
            <!-- * routerLink use to match the path from app.module.ts with the links from view template. Ex: path in app.module.ts = Home then [routerLink]="['Home']" 
                 * routerLinkActive use to style the html element coresponding to the defined path
                 For example: if we are on localhost:4200/home, then on the home link
                 will be applied the css class 'active'
                 * routerLinkActiveOptions will solve the problem presented in app.module.ts at line 18, it will match the exactly given path
                -->

            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['Home']">Home</a></li>
            <li [routerLinkActive]="'active'"><a [routerLink]="['About']">About</a></li>
            <li [routerLinkActive]="'active'"><a [routerLink]="['Contact']">Contact</a></li>

            <!-- [routerLink]="'Courses'" or routerLink="Courses"
            because like this you will can attach more variables
            Ex: localhost:4200/Courses/10 => [routerLink]="['Courses', 10]" -->

            <li><a [routerLink]="['Courses']">Courses</a></li>


            <!-- HOW TO USE FRAGMENTS -->
            <!-- Fragments stands for a single page, moving from up to down or vice-versa -->

            <!-- <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" fragment="Home">Home</a></li>
            <li [routerLinkActive]="'active'"><a routerLink="" fragment="About">About</a></li>
            <li [routerLinkActive]="'active'"><a routerLink="" fragment="Contact">Contact</a></li> 
            <li><a routerLink="" fragment="Courses">Courses</a></li> -->

        </ul>
    </div>
    <div class="component-container">
        <!-- Used for Fragments -->
        
        <!-- <app-home id="Home"></app-home>
        <app-about id="About"></app-about>
        <app-contact id="Contact"></app-contact>
        <app-courses id="Courses"></app-courses> -->

        <!-- below code is a directive that tells angular where in our page 
             we want to display the view, it is automatically imported when we
             import RouterModules in app.module.ts -->
        <router-outlet></router-outlet>
    </div>
</div>